@using Exercises.Models
@{
    //Layout = null;
}

@model List<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">List View</a></li>
            <li><a href="#">Table View</a></li>
            <li><a href="#">Tile View</a></li>
        </ul>
    </nav>
    <section>





        <p6 class="toy-dept">Toy Department</p6>
        @foreach (Product product in Model)
        {
            var toyImage = "/Content/images/" + product.ImageName;@*assign variable to store image from file from absolute path m3-w1d5-views-part2-exercises\Exercises\Content\images *@
            var starImage = "/Content/images/" + Math.Round(product.AverageRating, 0) + "-star.png"; @*assign variable to store image from file, rounding average rating to produce int to assign to file to produce star value*@


            <h6 class="list-head">
                <img class="img-left" src=@toyImage />
            </h6>
            <h7>
            <ul class="style">

            <b> @product.Name </b>

            @if (product.IsTopSeller)
            {
                <span class="best-seller">BEST SELLER!</span> @*set Best Seller next to prod name when value true*@
            }






                <li detail="product:@product;">by @product.Manufacturer</li>  @*we got the "detail product:@product" stuff from lecture code, but I don't think it applies fully until day 2*@
               <p1> <li detail="product:@product;">@product.Price.ToString("C")</li> </p1>
                <li detail="product:@product;"> <b>Weight</b> @product.WeightInLbs lbs</li>
                <li> <img class="img-star-resize" src="@starImage" /> </li> @*produces image from star variable assignment*@

                
                
            <hr width=95% color=grey>
                

            </ul>
               
            </h7>
        }
    </section>
</body>
</html>
