@using Exercises.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <section>

        <b> <p6 class="toy-dept">Toy Department</p6> </b>
        @foreach (Product product in Model)
        {
            var toyImage = "/Content/images/" + product.ImageName; @*assign variable to store image from file from absolute path m3-w1d5-views-part2-exercises\Exercises\Content\images *@
            var starImage = "/Content/images/" + Math.Round(product.AverageRating, 0) + "-star.png"; @*assign variable to store image from file, rounding average rating to produce int to assign to file to produce star value*@


        <h6 class="list-head">
            <a href="@Url.Action("Detail", "Product", new { id = product.ProductId})">
                <img class="img-left" src=@toyImage />
            </a>
        </h6>
            <h7>
                <ul class="style">

                    <b> @product.Name </b>

                    @if (product.IsTopSeller)
                    {
                        <span class="best-seller"><b>BEST SELLER!</b></span> @*set Best Seller next to prod name when value true*@
                    }


                    <p3><li detail="product:@product;">by @product.Manufacturer</li> </p3> @*we got the "detail product:@product" stuff from lecture code, but I don't think it applies fully until day 2*@
                    @if (product.RemainingStock < 3)
                    {
                        //<li detail="product:@product;">by @product.RemainingStock</li>
                        if (product.RemainingStock == 2)
                        {
                            <span class="product-remaining">Only 2 left!</span>
                        }

                        else if (product.RemainingStock == 1)
                        {
                            <span class="product-remaining">Only 1 Left!</span>
                        }
                    }
                    <p1><b> <li detail="product:@product;">@product.Price.ToString("C")</li></b> </p1>
                    <li detail="product:@product;"> <b>Weight</b><p3> @product.WeightInLbs lbs</li>
                    <li> <img class="img-star-resize" src="@starImage" /> </li> @*produces image from star variable assignment*@



                    <hr width=95% color=grey>


                </ul>

            </h7>
        }
    </section>
</body>
</html>

@*<a href="@Url.Action("Detail", "Product", new { id = product.ProductId})">
    <img class="product-image" src=@toyImage />
</a>*@